In [2]:
import numpy as np
import matplotlib as plt
import pandas as pd

In [19]:
df = pd.read_csv('phq_all_final.csv')
df.drop_duplicates(inplace=True)
df.sort_values(by=['patient_date_created', 'date'], inplace=True)
df.drop(labels=['type'], axis='columns', inplace=True)
df.head()

                         date  patient_id       patient_date_created  score
0  2019-08-26T13:32:43.019162        8430  2019-06-03T13:23:02.63568      6
1  2019-11-15T17:55:11.364877        8430  2019-06-03T13:23:02.63568      1
2  2019-10-07T18:23:29.611351       14338  2019-06-03T13:32:30.66846     10
3  2019-11-04T20:16:28.610965       14338  2019-06-03T13:32:30.66846      7
4  2019-12-02T20:56:55.966354       14338  2019-06-03T13:32:30.66846      9

In [22]:


grouped = df.groupby(['patient_id', 'patient_date_created'], sort=False)
grouped.agg(
    first_date = ('date', 'first'),
    last_date = ('date', 'last'),
    first_score = ('score', 'first'),
    last_score = ('score', 'last'),
    max_score = ('score', 'max'),
    min_score = ('score', 'min'),
    test_count = ('score', 'count')
)

,,first_date,last_date,first_score,last_score,max_score,min_score,test_count
patient_id,patient_date_created,,,,,,,
8430,2019-06-03T13:23:02.63568,2019-08-26T13:32:43.019162,2019-11-15T17:55:11.364877,6,1,6,1,2
14338,2019-06-03T13:32:30.66846,2019-10-07T18:23:29.611351,2019-12-02T20:56:55.966354,10,9,10,7,3
17028,2019-06-03T14:24:06.74181,2019-09-17T14:08:49.64243,2019-11-11T14:42:40.889057,6,9,9,6,2
3788,2019-06-03T14:48:09.129756,2019-06-07T13:05:01.435941,2019-08-10T04:44:56.461089,0,0,2,0,7
6292,2019-06-03T15:13:41.387077,2019-07-16T14:32:59.141021,2019-09-10T14:19:42.829505,5,1,5,1,3
...,...,...,...,...,...,...,...,...
10683,2020-07-31T13:54:20.164253,2020-07-31T13:59:13.201741,2020-07-31T13:59:13.201741,1,1,1,1,1
12344,2020-07-31T15:06:51.04373,2020-07-31T15:08:56.079027,2020-07-31T15:08:56.079027,1,1,1,1,1
17475,2020-07-31T15:40:07.726529,2020-07-31T15:52:50.353265,2020-07-31T15:52:50.353265,7,7,7,7,1
9069,2020-07-31T17:33:27.096572,2020-07-31T17:36:57.057913,2020-07-31T17:36:57.057913,3,3,3,3,1
4870,2020-07-31T17:58:21.004418,2020-07-31T17:58:53.067462,2020-07-31T17:58:53.067462,4,4,4,4,1